<div class="row-container">
    <h1>Pending Requests</h1>
    <div *ngFor = "let req of pendingRequests"class="row border-round">
        <div class="row-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Id:{{req.requestId}}</td>
                    </tr>
                    <tr>
                        <td>Technology: {{req.technologyId}}</td>
                    </tr>
                    <tr>
                        <td>Domain: {{req.verticalId}}</td>
                    </tr>
                    <tr>
                        <td>
                            <a routerLink="/viewrequest">
                                <input type=button value="View Request">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="row border-round">
        <div class="row-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Id:102</td>
                    </tr>
                    <tr>
                        <td>Technology: JavaScript</td>
                    </tr>
                    <tr>
                        <td>Domain: HealthCare</td>
                    </tr>
                    <tr><td><input type=button value="View Request"></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row border-round">
        <div class="row-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Id:103</td>
                    </tr>
                    <tr>
                        <td>Technology: JavaScript</td>
                    </tr>
                    <tr>
                        <td>Domain: HealthCare</td>
                    </tr>
                    <tr><td><input type=button value="View Request"></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row border-round">
        <div class="row-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Id:104</td>
                    </tr>
                    <tr>
                        <td>Technology: JavaScript</td>
                    </tr>
                    <tr>
                        <td>Domain: HealthCare</td>
                    </tr>
                    <tr><td><input type=button value="View Request"></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row border-round">
        <div class="row-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Id:105</td>
                    </tr>
                    <tr>
                        <td>Technology: JavaScript</td>
                    </tr>
                    <tr>
                        <td>Domain: HealthCare</td>
                    </tr>
                    <tr><td><input type=button value="View Request"></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row border-round">
        <div class="row-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Id:106</td>
                    </tr>
                    <tr>
                        <td>Technology: JavaScript</td>
                    </tr>
                    <tr>
                        <td>Domain: HealthCare</td>
                    </tr>
                    <tr><td><input type=button value="View Request"></td></tr>
                </tbody>
            </table>
        </div>
    </div>
 <div class="row border-round">
        <div class="row-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Id:107</td>
                    </tr>
                    <tr>
                        <td>Technology: JavaScript</td>
                    </tr>
                    <tr>
                        <td>Domain: HealthCare</td>
                    </tr>
                    <tr><td><input type=button value="View Request"></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row border-round">
        <div class="row-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Id:108</td>
                    </tr>
                    <tr>
                        <td>Technology: JavaScript</td>
                    </tr>
                    <tr>
                        <td>Domain: HealthCare</td>
                    </tr>
                    <tr><td><input type=button value="View Request"></td></tr>
                </tbody>
            </table>
        </div>
    </div> -->
</div>

<router-outlet></router-outlet>